In [2]:
import pandas as pd
import numpy as np
import cufflinks as cf
import yfinance as yf

ModuleNotFoundError: No module named 'cufflinks'

In [ ]:
df1 = yf.download('SPY',period='5d', progress= False)
df1.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-08-10,448.190002,451.700012,444.700012,445.910004,445.910004,93005500
2023-08-11,443.970001,446.700012,443.350006,445.649994,445.649994,68664600
2023-08-14,444.700012,448.109985,444.380005,448.109985,448.109985,47867400
2023-08-15,446.269989,446.640015,442.299988,442.890015,442.890015,75707500
2023-08-16,442.459991,444.179993,439.529999,439.640015,439.640015,80036700

In [ ]:
df2 = yf.download('SPY',start = '2020-12-24', end='2020-12-31',progress=False)

df2.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-12-24,368.079987,369.029999,367.450012,369.000000,355.649139,26457900
2020-12-28,371.739990,372.589996,371.070007,372.170013,358.704559,39000400
2020-12-29,373.809998,374.000000,370.829987,371.459991,358.020142,53680500
2020-12-30,372.339996,373.100006,371.570007,371.989990,358.530945,49455300

In [ ]:
df3 = yf.download('SPY', period='ytd',progress=False)

df3.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-08-10,448.190002,451.700012,444.700012,445.910004,445.910004,93005500
2023-08-11,443.970001,446.700012,443.350006,445.649994,445.649994,68664600
2023-08-14,444.700012,448.109985,444.380005,448.109985,448.109985,47867400
2023-08-15,446.269989,446.640015,442.299988,442.890015,442.890015,75707500
2023-08-16,442.459991,444.179993,439.529999,439.640015,439.640015,80036700

In [ ]:
faang_stocks = ['AAPL', 'AMZN', 'META', 'GOOG', 'NFLX']

df4 = yf.download(faang_stocks, period='ytd', progress=False)['Adj Close']
df4.tail()

                  AAPL        AMZN        GOOG        META        NFLX
Date
2023-08-10  177.729996  138.559998  130.210007  305.739990  429.980011
2023-08-11  177.789993  138.410004  130.169998  301.640015  421.660004
2023-08-14  179.460007  140.570007  131.830002  306.190002  427.779999
2023-08-15  177.449997  137.669998  130.270004  301.950012  423.700012
2023-08-16  176.570007  135.070007  129.110001  294.290009  415.450012

In [ ]:
ohlcv = {symbol: yf.download(symbol, period='250d', progress=False) for symbol in faang_stocks}
ohlcv

{'AAPL':                   Open        High         Low       Close   Adj Close  \
 Date
 2022-08-18  173.750000  174.899994  173.119995  174.149994  173.122971
 2022-08-19  173.029999  173.740005  171.309998  171.520004  170.508469
 2022-08-22  169.690002  169.860001  167.139999  167.570007  166.581772
 2022-08-23  167.080002  168.710007  166.649994  167.229996  166.243774
 2022-08-24  167.320007  168.110001  166.250000  167.529999  166.542007
 ...                ...         ...         ...         ...         ...
 2023-08-10  179.479996  180.750000  177.600006  177.970001  177.729996
 2023-08-11  177.320007  178.619995  176.550003  177.789993  177.789993
 2023-08-14  177.970001  179.690002  177.309998  179.460007  179.460007
 2023-08-15  178.880005  179.479996  177.050003  177.449997  177.449997
 2023-08-16  177.130005  178.539993  176.500000  176.570007  176.570007

               Volume
 Date
 2022-08-18  62290100
 2022-08-19  70346300
 2022-08-22  69026800
 2022-08-23  54147100
 2022-08-24  53841500
 ...              ...
 2023-08-10  54686900
 2023-08-11  51988100
 2023-08-14  43675600
 2023-08-15  43622600
 2023-08-16  46876800

 [250 rows x 6 columns],
 'AMZN':                   Open        High         Low       Close   Adj Close  \
 Date
 2022-08-18  141.320007  142.770004  140.380005  142.300003  142.300003
 2022-08-19  140.470001  141.110001  137.910004  138.229996  138.229996
 2022-08-22  135.720001  136.320007  132.850006  133.220001  133.220001
 2022-08-23  133.410004  134.990005  132.949997  133.619995  133.619995
 2022-08-24  132.750000  135.470001  132.100006  133.800003  133.800003
 ...                ...         ...         ...         ...         ...
 2023-08-10  139.070007  140.410004  137.490005  138.559998  138.559998
 2023-08-11  137.399994  139.330002  137.000000  138.410004  138.410004
 2023-08-14  138.300003  140.589996  137.750000  140.570007  140.570007
 2023-08-15  140.050003  141.279999  137.229996  137.669998  137.669998
 2023-08-16  137.190002  137.270004  135.009995  135.070007  135.070007

               Volume
 Date
 2022-08-18  37458700
 2022-08-19  47792800
 2022-08-22  50461500
 2022-08-23  36252100
 2022-08-24  38627000
 ...              ...
 2023-08-10  58928400
 2023-08-11  42832100
 2023-08-14  47148700
 2023-08-15  42781500
 2023-08-16  41611500

 [250 rows x 6 columns],
 'META':                   Open        High         Low       Close   Adj Close  \
 Date
 2022-08-18  174.339996  175.759995  171.860001  174.660004  174.660004
 2022-08-19  170.199997  172.320007  167.050003  167.960007  167.960007
 2022-08-22  165.490005  165.490005  162.259995  163.050003  163.050003
 2022-08-23  162.479996  165.050003  160.699997  161.110001  161.110001
 2022-08-24  160.600006  165.460007  159.770004  163.259995  163.259995
 ...                ...         ...         ...         ...         ...
 2023-08-10  307.940002  312.339996  303.869995  305.739990  305.739990
 2023-08-11  302.570007  304.720001  300.359985  301.640015  301.640015
 2023-08-14  300.980011  306.209991  298.250000  306.190002  306.190002
 2023-08-15  306.140015  307.230011  300.029999  301.950012  301.950012
 2023-08-16  300.200012  301.079987  294.279999  294.290009  294.290009

               Volume
 Date
 2022-08-18  18844500
 2022-08-19  26240800
 2022-08-22  19499700
 2022-08-23  18111800
 2022-08-24  20891500
 ...              ...
 2023-08-10  14358900
 2023-08-11  13967800
 2023-08-14  15641900
 2023-08-15  11623600
 2023-08-16  18097700

 [250 rows x 6 columns],
 'GOOG':                   Open        High         Low       Close   Adj Close  \
 Date
 2022-08-18  120.230003  121.690002  119.550003  120.860001  120.860001
 2022-08-19  119.870003  120.000000  117.669998  118.120003  118.120003
 2022-08-22  116.099998  116.500000  114.669998  115.070000  115.070000
 2022-08-23  114.320000  115.930000  114.300003  114.769997  114.769997
 2022-08-24  114.449997  115.717003  113.779999  114.699997  114.699997
 ...                ...         ...         ...         ...         ...
 2023-08-10  131.970001  132.647003  130.035004  130.210007  130.210007
 2023-08-11  129.201996  130.440002  128.750000  130.169998  130.169998
 2023-08-14  129.850006  131.910004  129.589996  131.830002  131.830002
 2023-08-15  131.589996  131.990005  129.819000  130.270004  130.270004
 2023-08-16  129.279999  130.897995  128.460007  129.110001  129.110001

               Volume
 Date
 2022-08-18  15652000
 2022-08-19  20187000
 2022-08-22  19316000
 2022-08-23  14390700
 2022-08-24  16051200
 ...              ...
 2023-08-10  17855700
 2023-08-11  15191500
 2023-08-14  17526200
 2023-08-15  14769200
 2023-08-16  17532700

 [250 rows x 6 columns],
 'NFLX':                   Open        High         Low       Close   Adj Close  \
 Date
 2022-08-18  241.960007  246.479996  239.279999  245.169998  245.169998
 2022-08-19  240.949997  243.289993  235.679993  241.160004  241.160004
 2022-08-22  232.550003  233.479996  224.589996  226.539993  226.539993
 2022-08-23  226.460007  229.899994  224.300003  224.550003  224.550003
 2022-08-24  225.660004  234.100006  223.940002  229.610001  229.610001
 ...                ...         ...         ...         ...         ...
 2023-08-10  431.119995  438.119995  428.690002  429.980011  429.980011
 2023-08-11  428.980011  430.630005  421.329987  421.660004  421.660004
 2023-08-14  421.989990  428.850006  418.779999  427.779999  427.779999
 2023-08-15  424.410004  429.119995  421.040009  423.700012  423.700012
 2023-08-16  423.730011  424.510010  415.250000  415.450012  415.450012

              Volume
 Date
 2022-08-18  5280400
 2022-08-19  7504700
 2022-08-22  8630100
 2022-08-23  5276900
 2022-08-24  5426300
 ...             ...
 2023-08-10  5467600
 2023-08-11  3925200
 2023-08-14  3966000
 2023-08-15  3368000
 2023-08-16  3959400

 [250 rows x 6 columns]}

In [ ]:
df6 = yf.download(tickers='SPY', period='5d', interval='1m', progress=False)
df6.tail()

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2023-08-16 15:55:00-04:00,439.984985,440.228210,439.924988,440.010010,440.010010,781724
2023-08-16 15:56:00-04:00,440.010010,440.010010,439.733704,439.829987,439.829987,917283
2023-08-16 15:57:00-04:00,439.829987,440.079987,439.770996,439.950012,439.950012,1279351
2023-08-16 15:58:00-04:00,439.950012,439.984985,439.809998,439.839996,439.839996,1545795
2023-08-16 15:59:00-04:00,439.834991,439.864990,439.529999,439.630005,439.630005,2322028

In [ ]:
spy = yf.Ticker('SPY')
options = spy.option_chain('2023-08-17')

In [ ]:
options

Options(calls=         contractSymbol             lastTradeDate  strike  lastPrice  bid  \
0    SPY230817C00379000 2023-08-16 19:39:01+00:00   379.0      61.34  0.0
1    SPY230817C00380000 2023-08-16 19:58:00+00:00   380.0      60.11  0.0
2    SPY230817C00381000 2023-08-16 19:58:00+00:00   381.0      59.11  0.0
3    SPY230817C00382000 2023-08-16 19:58:00+00:00   382.0      58.11  0.0
4    SPY230817C00383000 2023-08-16 19:55:33+00:00   383.0      57.29  0.0
..                  ...                       ...     ...        ...  ...
99   SPY230817C00478000 2023-08-09 13:58:50+00:00   478.0       0.02  0.0
100  SPY230817C00479000 2023-08-04 15:29:02+00:00   479.0       0.02  0.0
101  SPY230817C00480000 2023-08-07 13:31:24+00:00   480.0       0.01  0.0
102  SPY230817C00482000 2023-08-07 13:30:05+00:00   482.0       0.01  NaN
103  SPY230817C00483000 2023-08-04 19:51:58+00:00   483.0       0.01  0.0

     ask  change  percentChange  volume  openInterest  impliedVolatility  \
0    0.0     0.0            0.0    35.0             0           0.000010
1    0.0     0.0            0.0    16.0             0           0.000010
2    0.0     0.0            0.0     7.0             0           0.000010
3    0.0     0.0            0.0    10.0             0           0.000010
4    0.0     0.0            0.0     8.0             0           0.000010
..   ...     ...            ...     ...           ...                ...
99   0.0     0.0            0.0     5.0             0           0.250007
100  0.0     0.0            0.0     4.0             0           0.250007
101  0.0     0.0            0.0     1.0             0           0.250007
102  0.0     0.0            0.0     NaN             0           0.500005
103  0.0     0.0            0.0     2.0             0           0.500005

     inTheMoney contractSize currency
0          True      REGULAR      USD
1          True      REGULAR      USD
2          True      REGULAR      USD
3          True      REGULAR      USD
4          True      REGULAR      USD
..          ...          ...      ...
99        False      REGULAR      USD
100       False      REGULAR      USD
101       False      REGULAR      USD
102       False      REGULAR      USD
103       False      REGULAR      USD

[104 rows x 14 columns], puts=         contractSymbol             lastTradeDate  strike  lastPrice  bid  \
0    SPY230817P00379000 2023-08-16 19:28:46+00:00   379.0       0.01  0.0
1    SPY230817P00380000 2023-08-15 18:58:43+00:00   380.0       0.01  0.0
2    SPY230817P00381000 2023-08-14 14:28:12+00:00   381.0       0.01  0.0
3    SPY230817P00382000 2023-08-15 14:05:51+00:00   382.0       0.01  0.0
4    SPY230817P00383000 2023-08-15 14:03:27+00:00   383.0       0.01  0.0
..                  ...                       ...     ...        ...  ...
120  SPY230817P00499000 2023-08-16 18:44:11+00:00   499.0      56.87  0.0
121  SPY230817P00500000 2023-08-16 19:22:02+00:00   500.0      59.78  0.0
122  SPY230817P00505000 2023-08-16 19:12:01+00:00   505.0      64.53  0.0
123  SPY230817P00510000 2023-08-16 19:07:56+00:00   510.0      68.71  0.0
124  SPY230817P00515000 2023-08-16 19:22:59+00:00   515.0      74.83  0.0

     ask  change  percentChange  volume  openInterest  impliedVolatility  \
0    0.0     0.0            0.0   200.0           0.0           0.500005
1    0.0     0.0            0.0    35.0           0.0           0.500005
2    0.0     0.0            0.0     1.0           0.0           0.500005
3    0.0     0.0            0.0    40.0           0.0           0.500005
4    0.0     0.0            0.0    72.0           0.0           0.500005
..   ...     ...            ...     ...           ...                ...
120  0.0     0.0            0.0    13.0           0.0           0.000010
121  0.0     0.0            0.0    15.0           0.0           0.000010
122  0.0     0.0            0.0    12.0           NaN           0.000010
123  0.0     0.0            0.0    12.0           0.0           0.000010
124  0.0     0.0            0.0    24.0           0.0           0.000010

     inTheMoney contractSize currency
0         False      REGULAR      USD
1         False      REGULAR      USD
2         False      REGULAR      USD
3         False      REGULAR      USD
4         False      REGULAR      USD
..          ...          ...      ...
120        True      REGULAR      USD
121        True      REGULAR      USD
122        True      REGULAR      USD
123        True      REGULAR      USD
124        True      REGULAR      USD

[125 rows x 14 columns])

In [ ]:
df = options.calls[options.calls['strike']>400]
df.reset_index(drop = True, inplace = True)

df.iloc[:,:7].head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change
0,SPY230817C00401000,2023-08-16 19:58:00+00:00,401.0,39.13,0.0,0.0,0.0
1,SPY230817C00402000,2023-08-16 19:51:02+00:00,402.0,38.34,0.0,0.0,0.0
2,SPY230817C00403000,2023-08-16 16:33:58+00:00,403.0,39.31,0.0,0.0,0.0
3,SPY230817C00404000,2023-08-16 19:48:13+00:00,404.0,36.57,0.0,0.0,0.0
4,SPY230817C00405000,2023-08-16 19:20:21+00:00,405.0,35.51,0.0,0.0,0.0